@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-bg: hsl(0, 0%, 58%);
  --color-blurple: hsl(235deg, 86%, 65%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --color-bg: hsl(0deg 0% 7%);
  }
}

body{
  background-image: url("/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(var(--foreground-rgb));
}

.bg-dark {
  background-color: var(--color-bg);
}

.bg-blurple {
  background-color: var(--color-blurple);
}

.discord-server{
  -webkit-mask-image: linear-gradient(to bottom,black 0%,transparent 100%);
  mask-image: linear-gradient(to bottom,black 0%,transparent 100%);
  max-width: 60%;
  padding: 2rem;
}



html,
body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
}

main {
  flex-grow: 1;
}

footer {
  height: 10%;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.playercount {
  display: inline-block;
  margin: 20px 15px 0 15px;
  padding: 2px 0;
  background-color: rgba(15, 199, 209, 0.75);
  font-size: 1em;
  color: white;
  text-align: center;
  border-radius: 5px 0 5px 0;
  line-height: 27px;
}

.playercount>p>span {
  font-weight: bold;
  padding: 1px 4px;
  border-radius: 3px;
  background: rgba(9, 150, 158, 0.7);
  margin: 0 2px;
}

.ip {
  cursor: pointer;
}


@media(min-width: 400px) {
  .playercount {
    margin-top: 30px;
    padding: 5px;
  }

  .playercount>p>span {
    padding: 2px 7px;
  }
}

@media(min-width: 1250px) {
  .playercount {
    font-size: 1.22em;
    padding: 10px;
  }

  .playercount>p>span {
    padding: 4px 7px;
  }
}

.logo {
  width: 420px;
  -webkit-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}


@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}